.banner {
  position: relative;
  background: url("obat.png") no-repeat center center;
  background-size: cover;
  padding-top: 20%;
  padding-bottom: 20%;
  color: #fff;
}

.banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Adjust the opacity as needed */
  z-index: 1; /* Ensure it sits above the background but below the text */
}

.banner .container {
  position: relative; /* Position the container relative to the banner */
  z-index: 2; /* Ensure text is above the overlay */
}


.lingkaran {
  display: inline-block;
  border-radius: 50%;
  width: 150px;
  margin: auto;
  height: 150px;
  color: #fff;
  background-color: #dc3545;
}

.lingkaran i {
  position: relative;
  top: 30px;
}

.crop-img {
  object-fit: cover;
}

.tim img {
  width: 250px;
  border: 10px solid #cccccc;
}

a.social {
  display: inline-block;
  width: 40px;
  height: 40px;
  color: #fff;
  border-radius: 50%;
  background-color: #333;
  line-height: 40px;
}

.client img {
  height: auto;
  max-height: 50px;
}

.kontak {
  background: url("https://wallpaperaccess.com/full/1867010.jpg") no-repeat
    center center;
  background-size: cover;
  padding-bottom: 20%;
  padding-top: 20%;
  color: #fff;
}
